{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background: #000 url(../images/services/bg_services.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        h1 {color: #FFF;font-weight: bold;}
        label {color: #FFF;}
        .form-control {
            width: 60%;
            margin: auto;
        }
        .btn {font-weight: bold;}
    </style>
{% endblock %}

{% block body %}

    <div class="row" style="margin: 150px auto;">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>Réinitialiser mon mot de passe</h1>
            {{ include('includes/flashmessages.html.twig') }}
            {{ form_start(formForgotPassword) }}
            {{ form_widget(formForgotPassword) }}
            <div class="form-group">
                <button type="submit" class="btn btn-success btnforgot">Envoyer</button>
            </div>
            {{ form_end(formForgotPassword) }}
        </div>
    </div>

{% endblock %}