{% extends 'base.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 150px;">
        <h2>Gestion des catégories</h2>
        {{ include('includes/flashmessages.html.twig') }}
        {{ form_start(formCategory) }}
        {{ form_row(formCategory.name, {'label': 'Nom *', 'attr': {'placeholder': 'Entrez une nouvelle catégorie'}}) }}
        <button type="submit" class="btn btn-success">Ajouter</button>
        {{ form_end(formCategory) }}
        <table class="table" style="margin: 50px auto;">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr class="default">
                    <td>{{ category.name }}</td>
                    <td><a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            Supprimer
                        </a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
