{% extends 'base.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 150px;">
        <h2>Gestion des membres</h2>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Trier par</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_users') }}" title="Lien 1">Toutes les membres</a></li>
                <li><a href="{{ path('admin_users_admin') }}" title="Lien 2">Administrateurs</a></li>
                <li><a href="{{ path('admin_users_users') }}" title="Lien 3">Utilisateurs</a></li>
                <li role="separator" class="divider"</li>
                <li><a href="" title="Lien 4">Par date (du plus récent au plus ancien)</a></li>
                <li><a href="" title="Lien 4">Par date (du plus ancien au plus récent)</a></li>
                <li role="separator" class="divider"</li>
            </ul>
        </div>
        {{ include('includes/flashmessages.html.twig') }}
        <table class="table" style="margin: 50px auto;">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Username</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                {% for role in user.roles|slice(0, 1)  %}
                <tr class="{%  if role == 'ROLE_RECRUITER' %}info{% elseif role == 'ROLE_CANDIDATE' %}success{% elseif role == 'ROLE_USER' %}warning{% else %}danger{% endif %}  }}">
                    <td></td>
                    <td></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                        <td>
                            {% if role == 'ROLE_RECRUITER' %}
                                Recruteur (<a href="{{ path('admin_on', {id: user.id}) }}">Passer en Admin</a>)
                            {% elseif role == 'ROLE_CANDIDATE' %}
                                Candidat (<a href="{{ path('admin_off', {id: user.id}) }}">Retirer Admin</a>)
                            {% elseif role == 'ROLE_ADMIN' %}
                                Administrateur (<a href="{{ path('admin_off', {id: user.id}) }}">Retirer Admin</a>)
                            {% elseif role == 'ROLE_USER' %}
                            {% endif %}
                        </td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
